page-product-info {
    ion-content {
        margin-top: 5vh;
        text-align: center;
    }

    #quantity {
        margin-top: 5vh;
    }

    #quantityLabel {
        margin-bottom: 7.5vh;
    }
}
